root = true

[*]
charset = utf-8-bom
end_of_line = crlf

[*.md]
insert_final_newline = true

[*.{h,c,hpp,cpp,idl}]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,xaml,json}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.rc]
charset = utf-16le
