root = true

[*]
charset = utf-8-bom
end_of_line = crlf

[*.md]
insert_final_newline = true

[*.{h,c,hpp,cpp,idl}]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,xaml,json,js}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.rc]
charset = utf-16le

[*.bat]
charset = utf-8
insert_final_newline = true

[*.toml]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
vc_generate_documentation_comments = doxygen_slash_star
