.home .hero img
  max-width 450px!important

body
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color transparent
  -moz-osx-font-smoothing grayscale
  button
    border none
    outline none
