<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VC-LTL" version="4.0.3.8" targetFramework="native" />
  <package id="YY.NuGet.Import.Helper" version="1.0.0.2" targetFramework="native" />
  <package id="YY.UCRT.10.0.10240.0.Package" version="4.0.3.8" targetFramework="native" />
  <package id="YY.UCRT.10.0.15063.0.Package" version="4.0.3.8" targetFramework="native" />
  <package id="YY.UCRT.10.0.16299.0.Package" version="4.0.3.8" targetFramework="native" />
  <package id="YY.UCRT.10.0.17134.0.Package" version="4.0.3.8" targetFramework="native" />
  <package id="YY.UCRT.10.0.17763.0.Package" version="4.0.3.8" targetFramework="native" />
  <package id="YY.UCRT.10.0.18362.0.Package" version="4.0.3.8" targetFramework="native" />
  <package id="YY.UCRT.Shared" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.0.23918.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.0.23918.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.0.24210.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.0.24210.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.0.24225.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.0.24225.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.0.24231.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.0.24231.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.10.25017.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.10.25017.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.11.25503.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.11.25503.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.12.25827.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.12.25827.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.13.26128.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.13.26128.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.14.26428.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.14.26428.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.15.26726.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.15.26726.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.16.27023.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.16.27023.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.20.27508.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.20.27508.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.21.27702.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.21.27702.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.22.27905.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.22.27905.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.23.28105.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.23.28105.Library" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.24.28314.Header" version="4.0.3.8" targetFramework="native" />
  <package id="YY.VCRT.14.24.28314.Library" version="4.0.3.8" targetFramework="native" />
</packages>